@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@400;500;600;700&family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
html {
  box-sizing: border-box;
  cursor: none;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root{
  --color-fa163f : #fa163f;
  --color-0c0c0c : #0c0c0c;
  --white : #fff;
  --black : #000;
  --font-josefin : 'Josefin Sans', sans-serif;;
  --font-open : 'Open Sans', sans-serif;
  --font-georama : 'Georama', sans-serif;
  --font-oswald : 'Oswald', sans-serif;
  --color-bbb : #bbb;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--black);
  font-family: sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.btn{
  display: inline-block;
  font-family: var(--font-open);
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 13px 15px;
  border: 2px solid var(--color-fa163f);
  color: var(--white);
  background: var(--color-fa163f);
  transition: all linear 0.4s;
}
.btn:hover{
  color: var(--white);
  border: 2px solid var(--color-fa163f);
  background: transparent;
}
/* aside */
.aside{
  position: fixed;
  width: 260px;
  height: 100%;
  background-color: var(--color-0c0c0c);
  transition: all 0.4s ease;
}
.aside__btn{
  position: fixed;
  top: 30px;
  left: 230px;
  width: 30px;
  height: 30px;
  background-color: var(--color-fa163f);
  border: none;
  z-index: 99;
  color: var(--white);
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease;
  transform: translateX(0);
}
.aside__btn .bx{
  transition-delay: 0.4s;
}
.close.aside__btn .bx{
  transform: rotate(180deg);
}
.close.aside__btn{
  transform: translateX(-260px);
  left: 270px;
  transition: left 0.3s 0.3s;
}
.close.aside{
  transform: translateX(-100%);
}
.open.main{
  padding-left: 0;
}
main{
  padding-left: 265px;
  width: 100%;
  min-height: 100vh;
  transition: all 0.4s ease;
}
.aside {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 45px;
  background-color: var(--color-0c0c0c);
}
.aside__logo-div {
  padding-bottom: 80px;
}
.aside__logo-link {
  font-family: var(--font-josefin);
  font-size: 20px;
  color: var(--white);
}
.aside__logo-link span{
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--color-fa163f);
}
.aside__logo {
  padding: 0;
  margin: 0;
}
.aside__title {
  font-family: var(--font-open);
  text-align: center;
  font-size: 12px;
  letter-spacing: 5px;
  padding-left: 10px;
  font-weight: 400;
  color: var(--color-bbb);
}
.nav__list {
  margin-bottom: 50px;
}
.nav__item {
  padding: 7px 0;
}
.nav__link {
  color: var(--white);
  font-weight: 600;
  transition: all linear 0.4s;
  letter-spacing: 1px;
  font-family: var(--font-open);
  font-size: 15px;
  line-height: 1.75rem;
  transition: all 0.4s ease;
}
.nav__link:hover{
  color: var(--color-fa163f);
}
.social__static-text {
  padding-bottom: 1rem;
  font-family: var(--white);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--color-bbb);
}
.social__list {
  display: flex;
}
.social__link {
  width: 23px;
  height: 23px;
  background-color: var(--color-fa163f);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border: 2px solid var(--color-fa163f);
  font-size: 13px;
  margin: 0 5px;
  transition: all 0.4s ease;
}
.social__link:hover{
  color: var(--color-fa163f);
  background-color: transparent;
}
.aside__copyright {
  padding-top: 10px;
  font-size: 12px;
  line-height: 2.75rem;
  cursor: none;
  font-family: var(--font-open);
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--color-bbb);
}
/* /aside */
/* cursor */
.cursor,
.cursor2,
.cursor3{
	position: fixed;
	border-radius: 50%;	
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	left: -100px;
	top: 50%
}
.cursor{
	background-color: #fff;
	height: 6px;
	width: 6px;
	z-index: 99999;
  pointer-events: none;
  
}
.cursor2,.cursor3{
	height: 36px;
	width: 36px;
	z-index:99998;
	transition:all 0.2s ease-out
}
.cursor2.hover,
.cursor3.hover{
	-webkit-transform:scale(2) translateX(-25%) translateY(-25%);
	transform:scale(2) translateX(-25%) translateY(-25%);
	border:none
}
.cursor2{
	border: 2px solid #fff;
	box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
}
.cursor2.hover{
	background: rgba(255,255,255,.1);
	box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}
/* /cursor */
/* site-hero */
.particles-js-canvas-el{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
}
#site-hero{
  background-image: url("../img/a-more-purple-ish-version-of-the-mac-os-mojave--wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.site-hero__gray{
  width: 100%;
  min-height: 100vh;
  background-color: var(--black);
  opacity: 0.8;
  display: inline-block;
  position: absolute;
  z-index: 1;
}
.site-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  z-index: 5;
}
.site-hero__pre-title {
  color: var(--white);
  font-family: var(--font-open);
  font-size: 24px;
  padding-bottom: 20px;
  line-height: 2.75rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.site-hero__title {
  font-family: var(--font-oswald);
  padding-top: 20px;
  padding-bottom: 30px;
  text-transform: uppercase;
  color: var(--white);
  line-height: 1.75rem;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 55px;
}
.site-hero__btn{
  margin-top: 30px;
}
.site-hero__wrapper {
  display: flex;
}
.static-text {
  font-family: var(--font-oswald);
  display: inline-block;
  padding: .2em 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: var(--white);
  margin-right: 5px;
}

.wrapper{
  font-family: var(--font-oswald);
  color: var(--color-fa163f);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
  display: inline;
  width: 100%;
  position: relative;
  display: inline-block;
  animation: wrapper 3s infinite;
  border-right: 2px solid var(--white);
  overflow: hidden;
}
.wrapper-scnd{
  font-family: var(--font-oswald);
  color: var(--color-fa163f);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
  animation: wrapper 3s infinite;
  border-right: 2px solid var(--white);
}
.site-hero__wrapper{
  display: flex;
  align-items: center;
}
/* /site-hero */
/* about */
#about{
  background-color: var(--black);
}
.about {
  display: flex;
  padding-top: 120px;
  padding-bottom: 100px;
}
.about__texts {
  width: 60%;
  padding: 0 15px;
}
.titles {
  letter-spacing: 3px;
  font-size: 34px;
  color: var(--white);
  font-family: var(--font-oswald);
  line-height: 1.75rem;
  font-weight: 700;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.titles::before{
  content: "";
  display: inline-block;
  width: 10px;
  height: 32px;
  background-color: var(--color-fa163f);
  margin-right: 10px;
}
.about__static-text {
  line-height: 1.7rem;
  font-family: var(--font-open);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--color-bbb);
  margin-top: 10px;
}
.about__btns {
  margin-top: 70px;
}
.about__btn-fulled {
  border-color: var(--color-fa163f);
  background-color: transparent;
  color: var(--color-fa163f);
  margin-left: 15px;
}
.about__btn-fulled:hover{
  background-color: var(--color-fa163f);
  color: var(--white);
}
.about__list {
  display: flex;
  padding-top: 78px;
}
.about__item {
  margin-right: 15px;
  width: 50%;
  padding: 20px 0;
  border: 1px solid transparent;
  transition: all 0.4s ease;
  background-color: var(--color-0c0c0c);
}
.about__item:hover{
  border-color: var(--color-fa163f);
}
.about__item:last-child{
  margin-left: 15px;
  margin-right: 0;
}
.about__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__span {
  color: var(--color-fa163f);
  font-size: 20px;
  margin-bottom: 15px;
}
.about__text {
  margin: 0;
  color: var(--white);
  font-family: var(--font-oswald);
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.75rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.about__tel-number {
  font-family: var(--font-open);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--color-bbb);
}
.about__imgs {
  width: 40%;
  padding: 0 15px;
  padding-top: 40px;
}
/* /about */
#services{
  background-color: var(--color-0c0c0c);
  padding-top: 120px;
  padding-bottom: 120px;
}
.services__title{
  margin-bottom: 40px;
}
.services__list {
  display: flex;
  flex-flow: row wrap;
}
.services__item {
  position: relative;
  width: calc(33.33% - 15px);
  padding: 30px 30px 25px;
  margin-bottom: 35px;
  background-color: var(--black);
  border-left: 2px solid var(--color-fa163f);
}
.services__item:not(:last-child){
  margin-right: 15px;
}
.services__titles {
  padding-left: 20px;
}
.services__before{
  font-size: 20px;
  color: var(--white);
  position: absolute;
  top: 26px;
  left: -10px;
  width: 50px;
  height: 50px;
  background: var(--color-fa163f);
  border: 2px solid var(--color-fa163f);
  text-align: center;
  transition: all 0.4s ease;
  padding-top: 13px;
}
.services__item:hover .services__before{
  background-color: #000;
}
.services__before svg{
  width: 22px;
  height: 20px;
}
.services__number {
  font-size: 20px;
  color: var(--color-fa163f);
  line-height: 0.75rem;
  cursor: none;
  font-family: var(--font-open);
  font-weight: 400;
  letter-spacing: 1px;
}
.services__static-title {
  font-size: 20px;
  margin: 0;
  color: var(--white);
  font-family: var(--font-oswald);
  line-height: 1.75rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.services__static-text {
  padding-top: 20px;
  padding-bottom: 0;
  line-height: 2.75rem;
  cursor: none;
  font-family: var(--font-open);
  font-size: 15px;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--color-bbb);
}
/* /services */
/* references */
#references{
  padding-top: 120px;
  padding-bottom: 120px;
}
.references__list {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.references__item {
  background-color: var(--color-0c0c0c);
  width: calc(33.33% - 30px);
  padding-top: 35px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  border-bottom: 3px solid var(--color-fa163f);
}
.references__count {
  font-size: 55px;
  margin: 0;
  color: var(--white);
  font-family: var(--font-oswald);
  line-height: 1.75rem;
  font-weight: 700;
  margin-bottom: 10px;
  padding-right: 25px;
}
.references__titles {
  padding-left: 25px;
  border-left: 2px solid var(--white);
}
.references__item:nth-child(3) .references__icon{
  font-size-adjust: 30px;
}
.references__icon {
  font-size: 32px;
  color: var(--color-fa163f);
  font-weight: 700;
  margin-bottom: 5px;
  display: inline-block;
}
.references__title {
  line-height: 1rem;
  font-family: var(--font-open);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
}
/* /references */
/* portfolio */
#portfolio{
  background-color: var(--color-0c0c0c);
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio__title {
  margin-bottom: 40px;
}
.portfolio__static-list {
  margin-bottom: 20px;
  display: flex;
  padding-left: 15px;
}
.sort {
  color: var(--white);
  float: left;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
  transition: all linear 0.4s;
  font-family: var(--font-open);
  font-size: 15px;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 1px;
  display: flex;
  position: relative;
}
.sort:hover{
  color: var(--color-fa163f);
}
.sort:not(:first-child){
  padding-left: 20px;
}
.sort:not(:last-child)::before{
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: -10px;
  width: 2px;
  height: 15px;
  background: var(--color-fa163f);
  transform: translateY(-50%);
}
.portfolio__list {
  display: flex;
  flex-flow: row wrap;
}
.portfolio__item {
  width: calc(33.33% - 30px);
  height: 225px;
  margin: 0 15px;
  background-repeat: no-repeat;
  background-image: url("../img/screencapture-festive-swirles-1e14c5-netlify-app-2021-10-14-11_07_50.png");
  background-size: cover;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.portfolio__item:nth-child(2){
  background-image: url("../img/screencapture-hardcore-keller-5b1267-netlify-app-2021-10-14-11_08_12.png");
}
.portfolio__item:nth-child(3){
  background-image: url("../img/screencapture-cocky-yonath-8ca69a-netlify-app-2021-10-14-11_05_45.png");
}
.portfolio__item:nth-child(4){
  background-image: url("../img/screencapture-dogs-irwin-netlify-app-2021-10-14-11_09_45.png");
}
.portfolio__item:nth-child(5){
  background-image: url("../img/screencapture-pixer-irwin-netlify-app-2021-10-14-11_09_19.png");
}
.portfolio__item:nth-child(6){
  background-image: url("../img/screencapture-happy-jennings-cda530-netlify-app-2021-10-14-11_06_46.png");
}
.portfolio__item:hover .portfolio__about{
  visibility: visible;
  height: 100%;
  padding-top: 15px;
  opacity: 1;
}
.portfolio__item:hover .portfolio__texts,
.portfolio__item:hover .portfolio__link,
.portfolio__item:hover .portfolio__texts::before{
  opacity: 1;
  transition: all 0.4s ease;
}
.portfolio__item:hover .portfolio__texts::before{
  opacity: 1;
  transition-delay: 0.7s;
}
.portfolio__item:hover .portfolio__static-text{
  opacity: 1;
  transform: translateX(0);
}
.portfolio__about {
  width: 100%;
  height: 50px;
  visibility: hidden;
  background-color: var(--color-fa163f);
  padding-left: 20px;
  transition: all 0.8s ease;
  position: relative;
  opacity: 0;
}
.portfolio__texts {
  position: relative;
  padding-left: 14px;
  opacity: 0;
}
.portfolio__texts::before{
  border-left: 3px solid var(--white);
  content: "";
  height: calc(100% - 2px);
  position: absolute;
  left: 0px;
  transition: all 0.4s ease 0.7s;
  transition-delay: 0.7s;
  opacity: 0;
}
.portfolio__text {
  font-size: 20px;
  margin: 0;
  color: var(--white);
  font-family: var(--font-oswald);
  line-height: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.portfolio__static-text {
  color: var(--white);
  font-family: var(--font-open);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  display: inline-block;
  position: relative;
  transition: all 0.4s ease 0.7s;
  transform: translateX(20px);
  opacity: 0;
}
.portfolio__link {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease;
}
.portfolio__span{
  position: absolute;
  color: var(--color-fa163f);
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  display: block;
  background: var(--white);
  border: 2px solid var(--white);
  text-align: center;
  line-height: 40px;
  transition: all 0.4s ease;
}
.portfolio__span:hover{
  color: var(--white);
  background-color: var(--color-fa163f);
  border-color: var(--white);
}
.portfolio__span svg{
  width: 1.125em;
  height: 1rem;
}
/* /portfolio */
/* tecnologies */
#technologies{
  background-color: var(--color-0c0c0c);
  padding-top: 120px;
  padding-bottom: 120px;
}
.slick-track{
  
  display: flex;
  align-items: center;
}
.slick-dots{
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-dots li{
  margin: 5px;
}
.slick-dots button{
  border: none;
  font-size: 0;
  cursor: pointer;
  width: 15px;
  height: 15px;
  background-color: var(--black);
  border-radius: 50%;
  border: 1px solid var(--white);
}
.slick-dots .slick-active button{
  background-color: var(--white);
}
.slick-list{
  overflow: hidden;
}
.technologies__item {
  width: 270px;
  height: 268px;
  margin: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/bootstrap-5.svg");
}
.c{
  background-image: url("../img/c.svg");
}
.javascript{
  background-image: url("../img/logo-javascript.svg");
}
.html5{
  background-image: url("../img/html-2.svg");
}
.python{
  background-image: url("../img/python-5.svg");
}
.react{
  background-image: url("../img/react-2.svg");
}
.sass{
  background-image: url("../img/sass-1.svg");
}
/* /tecnologies */
/* contact */
.contact {
  padding-top: 120px;
  padding-bottom: 120px;
}
.contact-hero {
  display: flex;
  flex-flow: row wrap;
}
.info {
  background-color: var(--color-0c0c0c);
  padding: 30px;
  margin-right: 15px;
  width: calc(50% - 15px);
  margin: 0 auto;
}
.info__title {
  font-size: 20px;
  margin: 0;
  color: var(--white);
  font-family: var(--font-oswald);
  line-height: 1.4rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.info__text {
  line-height: 1.5rem;
  font-family: var(--font-open);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--color-bbb);
}
.info__list {
  padding-top: 20px;
}
.info__item {
  margin-bottom: 10px;
}
.info__link {
  display: flex;
  align-items: center;
  color: var(--color-bbb);
  font-family: var(--font-open);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  transition: all 0.4s ease;
}
.info__link:hover .info__icon{
  background-color: transparent;
  border-color: var(--color-fa163f);
  color: var(--white);
}
.info__link:hover .info__static-text{
  color: var(--white);
}
.info__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 33px;
  height: 33px;
  text-align: center;
  line-height: 35px;
  transition: all 0.4s ease-in-out;
  background: var(--color-fa163f);
  border: 2px solid transparent;
}
.info__icon svg{
  width: 1em;
  height: 1em;
}
.info__static-text {
  transition: all 0.4s ease-in-out;
}
.forms {
  width: 50%;
}
.inputs {
  color: var(--white);
  background: #000000;
  width: 100%;
  min-height: 45px;
  padding: 0 0 0 10px;
  font-size: 16px;
  display: block;
  box-sizing: border-box;
  margin-bottom: 29px;
  border: none;
  border: 1px solid #141414;
  text-shadow: none;
}
.inputs::placeholder{
  color: #555;
}
.forms__textarea {
  padding-top: 10px;
}
/* /contact */
/* footer */
.site-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 120px 100px;
  background-color: var(--color-0c0c0c);
}
/* /footer */
.btn-up{
  position: fixed;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 15px;
  border: 2px solid var(--color-fa163f);
  background-color: var(--color-0c0c0c);
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}
/* media */

@media only screen and (max-width: 1200px) {
  
}
@media only screen and (max-width: 1100px) {

}
@media only screen and (max-width: 992px) {
  .aside{
    transform: translateX(-100%);
    z-index: 20;
  }
  .close.aside{
    transform: translateX(0);
  }
  main{
    padding-left: 0;
  }
  .close.aside__btn{
    transform: translateX(-10px);
    transition: left 0.3s ,
    transform 0.3s;
  }
  .aside__btn{
    transform: translateX(-260px);
    left: 260px;
  }
  .close.aside__btn .bx{
    transform: rotate(0deg);  
    transition-delay: 0.4s;
  }
  .aside__btn .bx{
    transform: rotate(180deg);
  }
  .aside{
    overflow: scroll;
  }
  .cursor,
  .cursor2,
  .cursor{
    display: none;
  }
  .services__item{
    width: calc(50%-15px);
  }
  .references__item{
    width: calc(50% - 30px);
  }
  .references__item:not(:last-child){
    margin-bottom: 25px;
  }
  .references__item:last-child{
    margin: 0 auto;
  }
  .info{
    width: 100%;
    margin-bottom: 35px;
  }
  .forms{
    width: calc(100% - 15px);
  }
}
@media only screen and (max-width: 768px) {
  .about{
    flex-direction: column;
    align-items: center;
  }
  .about__texts{
    width: 80%;
  }
  .about__imgs{
    width: 80%;
  }
  .services__item{
    width: 100%;
  }
  .services__item:not(:last-child){
    margin: 0;
    margin-bottom: 25px;
  }
  
}
@media only screen and (max-width:640px) {
  .references__list{
    justify-content: center;
  }
  .references__item{
    width: calc(100% - 30px);
  }
  .references__item:not(:last-child){
    margin-bottom: 25px;
  }
  .references__item:last-child{
    margin: 0 ;
  }
  .references__count{
    font-size: 40px;
  }
}
@media only screen and (max-width: 554px) {
  .site-hero__title{
    font-size: 35px;
  }
  .about{
    flex-direction: column;
    align-items: center;
  }
  .about__texts{
    width: 100%;
  }
  .about__list{
    flex-direction: column;
  }
  .about__item{
    width: 100%;
    margin: 0;
  }
  .about__item:last-child{
    margin: 0;
    margin-top: 25px;
  }
  .about__imgs{
    width: 100%;
  }
}